<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115158149230-k4movher3f89ttga5e7r1pp306lpi1vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115158149230-k4movher3f89ttga5e7r1pp306lpi1vc</string>
	<key>API_KEY</key>
	<string>AIzaSyCwYh1DCJyf9SopWbKTGUXf3DJr2Yrk7jc</string>
	<key>GCM_SENDER_ID</key>
	<string>115158149230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.engup</string>
	<key>PROJECT_ID</key>
	<string>lang-up</string>
	<key>STORAGE_BUCKET</key>
	<string>lang-up.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115158149230:ios:51718f2e68b520c43a9e7f</string>
</dict>
</plist>